output_video_lane.mp4
output_video_with_lane_car_detection.mp4
output_video.mp4
yolo/yolov3.weights
yolo/yolov3.cfg
vision-data/samplevideo.webm
vision-data/M6 Motorway Traffic.mp4
vision-data/challenge.mp4
vision-data/challenge-processed.mp4